[profile.default]
src = "src"
out = "out"
libs = ["lib"]
fs_permissions = [{ access = "read", path = "./"}]
optimizer = true
optimizer-runs = 200
cbor_metadata = false
bytecode_hash = "none"

# See more config options https://github.com/foundry-rs/foundry/tree/master/config

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
int_types = 'long'
multiline_func_header = 'attributes_first'
quote_style = 'double'
number_underscore = 'preserve'
single_line_statement_blocks = 'preserve'
ignore = ["src/console.sol", "src/console2.sol"]

[rpc_endpoints]
sepolia = "https://eth-sepolia.blastapi.io/v3/${BLAST_API_KEY}"
mainnet = "https://eth-mainnet.blastapi.io/v3/${BLAST_API_KEY}"
base_mainnet = "https://base-mainnet.blastapi.io/v3/${BLAST_API_KEY}"
base_sepolia = "https://base-sepolia.blastapi.io/v3/${BLAST_API_KEY}"
arbitrum = "https://arbitrum-one.blastapi.io/v3/${BLAST_API_KEY}"
arbitrum_sepolia = "https://arbitrum-sepolia.blastapi.io/v3/${BLAST_API_KEY}"
avalanche = "https://ava-mainnet.blastapi.io/v3/${BLAST_API_KEY}"
avalanche_testnet = "https://ava-testnet.blastapi.io/v3/${BLAST_API_KEY}"
polygon = "https://polygon-mainnet.blastapi.io/v3/${BLAST_API_KEY}"
polygon_amoy = "https://polygon-amoy.blastapi.io/v3/${BLAST_API_KEY}"

[dependencies]
"@kei-fi-testing-lib" = "1.0.2"
"@openzeppelin-contracts" = "5.0.2"
forge-std = "1.9.4"
"@openzeppelin-contracts-upgradeable" = "5.0.2"
